/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
    position: fixed;
    height: 100%;
}

.sidebar nav ul {
    list-style: none;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.sidebar nav ul li a:hover,
.sidebar nav ul li a.active {
    background-color: #34495e;
}

/* Main Content */
.main-content {
    margin-left: 270px;
    padding: 20px;
}

.add-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1abc9c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.add-btn:hover {
    background-color: #16a085;
}

.alert {
    background-color: #f39c12;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

/* Form */
.form-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.form-container div {
    margin-bottom: 15px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
}

.form-container input,
.form-container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #1abc9c;
    color: #fff;
    border: none;
}
/* Tombol */
.add-btn,
.edit-btn,
.delete-btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-right: 5px;
    transition: background-color 0.3s;
}

.add-btn {
    background-color: #1abc9c;
}

.edit-btn {
    background-color: #3498db;
}

.delete-btn {
    background-color: #e74c3c;
}

.add-btn:hover {
    background-color: #16a085;
}

.edit-btn:hover {
    background-color: #2980b9;
}

.delete-btn:hover {
    background-color: #c0392b;
}
/* Tabel */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #fff;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd; /* Menambahkan garis pada tabel */
    text-align: left;
}

table th {
    background-color: #34495e;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Memberikan latar belakang abu-abu untuk baris genap */
}

table tbody tr:hover {
    background-color: #f1f1f1; /* Efek hover pada baris tabel */
}