* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    background: url('Background\ 2.png') no-repeat center center fixed;
    background-size: cover;
    color: #021b34;
    line-height: 1.6;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #021b34;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(209, 232, 241);
    border-radius: 10px;
    box-shadow: 0 0 10px #0000001a;
  }
  
  h2 {
    color: #021b34;
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  input[type="date"],
  select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  input[type="radio"] {
    margin-right: 10px;
  }
  
  input[type="submit"] {
    background-color: #021b34;
    color: #fff;
    border: 10px;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 100px;
    font-size: 20px;
    width: 100%;
    margin-top: 20px;
  }
  
  input[type="submit"]:hover {
    background-color: #9ab3ca;
  }
  
  select {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
  }
  
  input[type="radio"] + label {
    margin-right: 15px;
  }
  
  /* Responsive */
  @media screen and (max-width: 600px) {
    form {
      padding: 15px;
    }
  
    h1 {
      font-size: 24px;
    }
  }