body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}
.container {
    width: 90%;
    max-width: 400px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px #00000033;
    padding: 20px;
    text-align: center;
}
.container h2 {
    color: #333;
}
.container .box {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 15px 0;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background: #011635;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 16px;
}
.button:hover {
    background: #011635;
}
#ticket {
    display: none;
    margin-top: 20px;
    background: #e3f2fd;
    border: 1px solid #90caf9;
    padding: 15px;
    border-radius: 8px;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

#virtualAccount {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    width: 250px;
}

.copy-btn {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #011635;
    color: white;
    border: none;
    border-radius: 5px;
}

.total-payment {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}